<a href="https://colab.research.google.com/github/mahidher/Data-Structures/blob/master/Find_unique_pairs_from_array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
def pair_sum(input_array,sum):
  uniquelist=[]
  input_array.sort()
  print(input_array)
  for i in range(0,len(input_array)-2):
    for j in range(i+1,len(input_array)-1):
      unique = (input_array[i],input_array[j])
      if((input_array[i]+input_array[j])==sum and unique not in uniquelist):
        uniquelist.append(unique)


  print(uniquelist)

In [76]:
pair_sum([1,9,2,8,3,7,4,6,5,5,13,14,11,13,-1],10)

[-1, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 11, 13, 13, 14]
[(-1, 11), (1, 9), (2, 8), (3, 7), (4, 6), (5, 5)]